.container-2 {
    background-image: url("../../images/timothy-eberly-7MRajrPiTqw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.reg-text {
  color: white;
  font-family: 'Your Custom Font', Impact, fantasy;
}