.container-2 {
    background-image: url("C:/Users/dn_he/Desktop/devCodeCamp/Capstone/timothy-eberly-7MRajrPiTqw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }