.text {
    font-size: 25px;
    color: black;
    -webkit-text-stroke: 0.5px white;
 } 

 .text-2 {
    color: white;
    -webkit-text-stroke: 0.5px black;
 }

.std-list {
   display: flex;
   flex-direction: column;
   margin-bottom: 200px;
}